<div class="dg-stage-container">
  <div class="header-container">
    <h6 class="dg-stage-header">DG Assembly Stage I</h6>
    <button mat-button class="save-button" (click)="submitData()" [disabled]="isSaveDisabled()"
      [ngClass]="{'disabled': isSaveDisabled()}">
      SAVE
    </button>
  </div>
  <div *ngIf="errorMessage" class="errorModal">
    <div class="errorModal-content">
      <h2>Alert</h2>
      <p>
        This Stage For Jobcard:-
        <span class="highlight">{{ extractedJobcard }}</span>
        With Eng Serial No:-
        <span class="highlight">{{ extractedEngSerial }}</span>
        Is Already Completed...!
      </p>
      <button class="error-ok-button" (click)="clearMessages()">OK</button>
    </div>
  </div>

  <div *ngIf="successMessage" class="successModal">
    <div class="successModal_content">
      <p>{{ successMessage }}</p>
      <button class="success-ok-button" (click)="clearMessages()">OK</button>
    </div>
  </div>

  <mat-tab-group (selectedIndexChange)="selectedTabIndex = $event">
    <!-- Stage(I) Scan Start Tab -->
    <mat-tab label="Stage(I) Scan Start">
      <div class="tab-content">
        <!-- SCAN ENGINE Section -->
        <div class="scan-section">
          <div class="scan-section-header">
            <button class="scan-header" (click)="onScanEngineClick()">SCAN ENGINE</button>
          </div>
          <!-- QR Scanner window -->
          <div class="qr-scanner-container">
            <div *ngIf="showQrScannerEngineStart" class="qr-scanner-wrapper">
              <div class="qr-scan-header">Scan QR Code</div>
              <zxing-scanner [formats]="allowedFormats" (scanSuccess)="handleQrCodeResult($event,'engine')">
              </zxing-scanner>
            </div>
          </div>
          <!-- SCAN ENGINE Details -->
          <div class="scan-section-details">
            <div class="scan-details">
              <div>QR SrNo: <span [ngClass]="{'Eng-qr-sr-no': scanDetails.qrSrNo}">
                  {{ scanDetails.qrSrNo }}
                </span></div>
              <div>Eng Desc: {{ scanDetails.engDesc }}</div>
              <div>Eng Code: {{ scanDetails.engCode }}</div>
              <div>Stk: {{ scanDetails.stk }}</div>
            </div>
          </div>
        </div>

        <!-- SCAN ALTERNATOR Section -->
        <div class="scan-section">
          <div class="scan-section-header">
            <button class="scan-header" (click)="onScanAlternatorClick()">SCAN ALTERNATOR</button>
          </div>
          <!-- QR Scanner window -->
          <div class="qr-scanner-container">
            <div *ngIf="showQrScannerAlternatorStart" class="qr-scanner-wrapper">
              <div class="qr-scan-header">Scan QR Code</div>
              <zxing-scanner [formats]="allowedFormats" (scanSuccess)="handleQrCodeResult($event,'alternator')">
              </zxing-scanner>
            </div>
          </div>
          <!-- SCAN ALTERNATOR Details -->
          <div class="scan-section-details">
            <div class="scan-details">
              <div>QR SrNo:
                <span
                  [ngClass]="{'green-text': scannedQrResult === scanDetails1.qrSrNo, 'Alt-qr-sr-no': scannedQrResult !== scanDetails1.qrSrNo}">
                  {{ scanDetails1.qrSrNo }}
                </span>
              </div>
              <div>Alt Desc: {{ scanDetails1.altDesc }}</div>
              <div>TRStatus: {{ scanDetails1.trStatus }}</div>
              <div>Stk: {{ scanDetails1.stk }}</div>
              <div>Alt Part No: {{ scanDetails1.altPart }}</div>
            </div>
          </div>
        </div>

        <!-- Engine Play Section -->
        <div class="action-section">
          <div class="label">
            <label>Engine Play(Start)</label>
          </div>
          <div class="start-Play">
            <div>Start play(MM):</div>
            <div id="startEngPlayInput" class="input-line" contenteditable="true" placeholder="Enter value here"></div>
          </div>
        </div>

        <!-- Plan Details Section -->
        <div class="plan-details-section">
          <div class="plan-details-label">
            <label>Plan Details</label>
          </div>
          <div class="plan-details">
            <div class="plan-row">
              <div>Plan No:</div>
              <div class="input-line">{{ planNo }}</div>
            </div>
            <div class="plan-row">
              <div>Date:</div>
              <div class="input-line">{{ date }}</div>
            </div>
            <div class="plan-row">
              <div>DG PartCode & Desc:</div>
              <div class="input-line">{{ dgPartCodeDesc }}</div>
            </div>
            <div class="plan-row">
              <div>JobCard Priority:</div>
              <div class="input-line">{{ jobCardPriority }}</div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- Stage(I) Scan End Tab -->
    <mat-tab label="Stage(I) Scan End">
      <div class="tab-content">
        <!-- SCAN ENGINE Section -->
        <div class="scan-section">
          <div class="scan-section-header">
            <button class="scan-header" (click)="onScanEngineClick1()">SCAN ENGINE</button>
          </div>
          <!-- QR Scanner window -->
          <div class="qr-scanner-container">
            <div *ngIf="showQrScannerEngineEnd" class="qr-scanner-wrapper">
              <div class="qr-scan-header">Scan QR Code</div>
              <zxing-scanner [formats]="allowedFormats" (scanSuccess)="handleQrCodeResult1($event, 'engine')">
              </zxing-scanner>
            </div>
          </div>
          <!-- SCAN ENGINE Details -->
          <div class="scan-section-details">
            <div class="scan-details">
              <div>QR SrNo: <span [ngClass]="{'Eng-qr-sr-no': scanDetails2.qrSrNo}">
                  {{ scanDetails2.qrSrNo }}
                </span></div>
              <div>Eng Desc: {{ scanDetails2.engDesc }}</div>
              <div>Eng Code: {{ scanDetails2.engCode }}</div>
              <!-- <div>Stk: {{ scanDetails2.stk }}</div> -->
            </div>
          </div>
        </div>

        <!-- SCAN ALTERNATOR Section -->
        <div class="scan-section">
          <div class="scan-section-header">
            <button class="scan-header" (click)="onScanAlternatorClick1()">SCAN ALTERNATOR</button>
          </div>
          <!-- QR Scanner window -->
          <div class="qr-scanner-container">
            <div *ngIf="showQrScannerAlternatorEnd" class="qr-scanner-wrapper">
              <div class="qr-scan-header">Scan QR Code</div>
              <zxing-scanner [formats]="allowedFormats" (scanSuccess)="handleQrCodeResult1($event, 'alternator')">
              </zxing-scanner>
            </div>
          </div>
          <!-- SCAN ALTERNATOR Details -->
          <div class="scan-section-details">
            <div class="scan-details">
              <div>QR SrNo:
                <span
                  [ngClass]="{'green-text': scannedQrResult === scanDetails3.qrSrNo, 'Alt-qr-sr-no': scannedQrResult !== scanDetails3.qrSrNo}">
                  {{ scanDetails3.qrSrNo }}
                </span>
              </div>
              <div>Alt Desc: {{ scanDetails3.altDesc }}</div>
              <div>TRStatus: {{ scanDetails3.trStatus }}</div>
              <!-- <div>Stk: {{ scanDetails3.stk }}</div> -->
              <div>Alt Part: {{ scanDetails3.altPart }}</div>
            </div>
          </div>
        </div>

        <!-- Process Checkpoints Section -->
        <div class="action-section">
          <div class="label">
            <label>Process Checkpoints & Delay Time Reason(If Any)</label>
          </div>
          <div class="start-Play">
            <div>Select 6M:</div>
            <!-- <div>
                <select class="dropdown">
                  <option value="" disabled selected hidden>Select an option</option>
                  <option *ngFor="let item of sixMOptions" [value]="item.Id">
                    {{ item.Name }}
                  </option>
                </select>
              </div> -->
            <div class="custom-dropdown">
              <div class="selected-option" (click)="toggleDropdown()">
                <!-- {{ selectedItem || 'Select an option' }} -->
                {{ selectedItem }}
              </div>
              <ul class="dropdown-list" [class.show]="isDropdownOpen">
                <li *ngFor="let item of sixMOptions" [ngClass]="{'highlight': selectedSixMItem === item.Id}"
                  (click)="selectItem(item)">
                  {{ item.Name }}
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Audio Clip Section -->
        <div class="Audio-section-header">
          <button class="scan-header" (click)="onAudioClipClick()">AUDIO CLIP</button>
        </div>
        <div *ngIf="isAudioClipVisible" class="Audio-buttons-container">
          <button class="Audio-buttons" (click)="startRecording()" [disabled]="isRecording">Start Recording</button>
          <span *ngIf="isRecording">Recording Started...</span>
          <span *ngIf="!isRecording && audioBlob">Recording Stopped</span>
          <button class="Audio-buttons" (click)="stopRecording()" [disabled]="!isRecording">Stop Recording</button>
          <!-- Audio Player to Listen to the Recorded Audio -->
        </div>
        <div *ngIf="audioBlob" class="Audio-Player">
          <audio controls [src]="audioUrl"></audio>
        </div>

        <div class="Video-section-header">
          <button class="scan-header" (click)="onVideoClipClick()">VIDEO CLIP</button>
        </div>
        <div *ngIf="isVideoClipVisible" class="Video-buttons-container">
          <button class="Video-buttons" (click)="startVideoRecording()" [disabled]="isVideoRecording">Start
            Recording</button>
          <span *ngIf="isVideoRecording">Recording Started...</span>
          <span *ngIf="!isVideoRecording && videoBlob">Recording Stopped</span>
          <button class="Video-buttons" (click)="stopVideoRecording()" [disabled]="!isVideoRecording">Stop
            Recording</button>
        </div>
        <!-- Video Player to Listen to the Recorded Audio -->
        <video controls [src]="videoUrl" class="small-video-player"></video>

        <!-- Process Status Section -->
        <div class="label">
          <label>Process Checkpoints</label>
        </div>
        <div class="start-Play">
          <div class="process-status">Process Status:</div>
          <!-- <div>
              <select class="dropdown"  [(ngModel)]="selectedOption" (change)="submitProcessCheckpoints()">
                <option value="" disabled selected hidden>Select an option</option>
                <option value="Rework">Rework</option>
                <option value="Accepted(Ok)">Accepted(OK)</option>
              </select>
            </div> -->
          <div class="custom-dropdown">
            <!-- Dropdown button -->
            <div class="selected-option" (click)="toggleSecondDropdown()">
              {{ selectedOption || 'Select an option' }}
            </div>

            <!-- Dropdown list -->
            <ul class="dropdown-list" [class.show]="isSecondDropdownOpen">
              <li *ngFor="let option of dropdownOptions" [ngClass]="{'selected': selectedOption === option}"
                (click)="selectOption(option)">
                {{ option }}
              </li>
            </ul>
          </div>

        </div>
        <div class="card-container-wrapper">
          <div class="card-container">
            <div *ngFor="let process of processCheckpoints; let i = index" class="card"
              [attr.data-prcid]="process.PrcId">
              <div class="card-header">
                <h6 class="card-title">{{ process.PartDesc }}</h6>
                <span class="card-number">{{ i + 1 }}</span>
              </div>
              <div class="card-body">
                <label>Remark=</label>
                <span contenteditable="true" class="remark">{{ process.Remark }}</span>
              </div>
            </div>
          </div>
        </div>


        <div class="action-section">
          <div class="label">
            <label>Engine Play(End)</label>
          </div>
          <div class="start-Play">
            <div>Start play(MM):</div>
            <div id="endEnginePlayInput" class="input-line" contenteditable="true" placeholder="Enter value here"></div>
          </div>
        </div>

        <!-- Plan Details Section -->
        <div class="plan-details-section">
          <div class="plan-details-label">
            <label>Plan Details</label>
          </div>
          <div class="plan-details">
            <div class="plan-row">
              <div>Plan No:</div>
              <div class="input-line">{{ planNo_stageEnd }}</div>
            </div>
            <div class="plan-row">
              <div>Date:</div>
              <div class="input-line">{{ date_stageEnd }}</div>
            </div>
            <div class="plan-row">
              <div>DG PartCode & Desc:</div>
              <div class="input-line">{{ dgPartCodeDesc_stageEnd }}</div>
            </div>
            <div class="plan-row">
              <div>JobCard Priority:</div>
              <div class="input-line">{{ jobCardPriority_stageEnd }}</div>
            </div>
            <div class="plan-row">
              <div>DGStk:</div>
              <div class="input-line">{{ Dgstk_stageEnd }}</div>
            </div>
          </div>
        </div>

      </div>
    </mat-tab>
  </mat-tab-group>
</div>
